$color: red;
$color-1: rgb(236, 82, 82);
$color-white: #fff;
$color-2: #ced4da;
$color-3: #ec5252;
$color-4: #505763;
$color-5: rgba(20,23,28,.15);
$color-burntsienna: #EC5252;
$color-claret: #6E1A52;
$color-athensgray: #F7F8FA;
$color-ebonyclay:#29303b;
$color-cyprus: #003845;
$color-bluelagoon: #007791;
$color-woodsmoke: #14171c;
$color-nevada: #686f7a;
$color-creamcan: #f4c150;
$color-iron: #dedfe0;
$color-athensgray-2: #f2f3f5;
$color-athensgray-3: #e8e9eb;
