#carousel {
  background-image: url("../../img/cover.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  @include search();
  h1, p{
    color: $color-white;
  }
}

