header{
  .container{
    padding: 0;
  }
  .header__left {
    display: flex;
    align-items: center;
    a {
      flex-grow: 1;
    }
    .categories {
      flex-grow: 1;
    }
    @include search();
  }
  .header__right {
    .navbar-nav {
      .nav-item{
        padding: 0 5px;
      }
      .nav-link {
        color: $color-4;
        &:hover {
          color: $color-4;
          background-color: #fff;
          border-radius: 4px;
        }
      }
    }
    .btn-login {
      background-color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}
